<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', v=2)}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top-banner">
        <h1>Go ahead click the button you wont</h1>
        <p>click on the button to be given a random number I also keep track of how many times the button has been clicked over its lifetime!</p>
    </div>
    <div class="application">
        <div class="'box">

            <button onclick="getNumber()">Click Me!</button>
            <p id="random"></p>
            <p id="result"></p>

        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>